    <!-- START Footer -->
    <footer class="bg-white footer">
        <div class="container">
            <div class="footer-top">
                <div class="row">
                    <div class="col-md-6 col-xl-3 mb-30">
                        <div class="mb-30">
                            <img class="logo-footer " src="/static/img/GDG_Cloud_Abidjan-Logo.png" loading="lazy" width="17000" height="2500" alt="GDG Cloud Abidjan - Logo">
                        </div>
                        <p class="mb-30 c-white">GDG Cloud Abidjan est un groupe indépendant. Nos activités et les opinions exprimées ici ne doivent en aucun cas être liées à la société Google.</p>
                        <div class="socials">
                            <a href="https://twitter.com/GDGCloudAbidjan" target="_blank" rel="noreferrer" aria-label="Twitter - GDG Cloud Abidjan" class="zmdi zmdi-twitter" style="display: none;visibility: hidden;"></a>
                            <a href="https://www.youtube.com/channel/UCpmqByXMoIqEhUhl6EGn__g" target="_blank" rel="noreferrer" aria-label="Youtube - GDG Cloud Abidjan" class="zmdi zmdi-youtube-play"></a>
                            <a href="#" target="_blank" rel="noreferrer" aria-label="Women Techmakers" class="zmdi zmdi-instagram"></a>
                        </div>
                    </div>
                    <div class="col-md-6 col-xl-3 mb-30">
                        <h4 class="btm-sep pb-3 mb-30 c-white font-weight-semi-bolder">La communauté</h4>
                        <div class="foot-links">
                            <a href="https://gdg.community.dev/gdg-cloud-abidjan/" target="_blank" rel="noopener" aria-label="GDG Cloud Abidjan">À propos</a>
                            <a href="https://gdg.community.dev/gdg-cloud-abidjan/" target="_blank" rel="noopener" aria-label="Évènements - GDG Cloud Abidjan">Nos Évènements</a>
                            <a href="https://github.com/gdgcloudabidjan" target="_blank" rel="noopener" aria-label="GitHub - GDG Cloud Abidjan">Notre GitHub</a>
                            <a href="https://gdg.community.dev/gdg-cloud-abidjan/" target="_blank" rel="noopener" aria-label="GDG Cloud Abidjan">FAQ</a>
                        </div>
                    </div>
                    <div class="col-md-6 col-xl-3 mb-30">
                        <h4 class="btm-sep pb-3 mb-30 c-white font-weight-semi-bolder">Programmes</h4>
                        <div class="foot-links">
                            <a href="https://www.womentechmakers.com/" target="_blank" rel="noreferrer" aria-label="Women Techmakers">Women Techmakers</a>
                            <a href="https://dsc.community.dev/" target="_blank" rel="noreferrer" aria-label="Developer Student Clubs">Developer Student Clubs</a>
                            <a href="https://gdg.community.dev/" target="_blank" rel="noreferrer" aria-label="Google Developer Groups">Google Developer Groups</a>
                            <!--<a href="https://developers.google.com/community/launchpad/" target="_blank" rel="noreferrer" aria-label="Launchpad">Launchpad</a>-->
                            <a href="https://developers.google.com/experts/" target="_blank" rel="noreferrer" aria-label="Google Developer Experts">Google Developer Experts</a>
                        </div>
                    </div>
                    <div class="col-md-6 col-xl-3 mb-30">
                        <h4 class="btm-sep pb-3 mb-30 c-white font-weight-semi-bolder">Partenaires</h4>
                        <div class="foot-links">
                            <a href="https://gdg.community.dev/gdg-bassam/" target="_blank" rel="noreferrer" aria-label="Women Techmakers">GDG Bassam</a>
                            <a href="https://gdg.community.dev/gdg-cloud-nantes/" target="_blank" rel="noreferrer" aria-label="Google Developer Experts">GDG Cloud Nantes</a>
                            <a href="https://www.meetup.com/fr-FR/TensorFlow-Abidjan/" target="_blank" rel="noreferrer" aria-label="Google Developer Groups">TensorFlow Abidjan</a>
                            <a href="https://dsc.community.dev/" target="_blank" rel="noreferrer" aria-label="Launchpad">DSC CIV</a>
                            <!--<a href="" target="_blank" rel="noreferrer" aria-label="Developer Student Clubs">Developer Student Clubs</a>-->
                        </div>
                    </div>
                </div>
            </div>
            <div class="copyright text-center c-white">
                ©2020 - GDG Cloud Abidjan. <span class="d-none d-md-inline-block">Tous les droits sont réservés.</span>
            </div>
        </div>
    </footer>
    <!-- END Footer -->

    <!-- START Scroll-To-Top
    <a id="back-top" class="back-top" href="javascript:void(0)">
        <span class="zmdi zmdi-triangle-up mb-1"></span>|
    </a>
     END Scroll-To-Top -->