<!-- START Header -->
<header class="header position-relative">
    <!-- START Navigation -->
    <div class="navigation-bar" id="affix">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light navbar-reset">
                <a class="logo" href="index.html">
                    <img class="logo-default" src="static/img/google_developers_logomark_white.png" loading="lazy" width="400" height="100" alt="GDG - Logo">
                </a>
                <button class="navbar-toggler border-0 p-0" type="button" data-toggle="collapse" data-target="#theme-navbar" aria-controls="theme-navbar" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-lines"></span>
                </button>
                <div class="collapse navbar-collapse" id="theme-navbar">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="#accueil">Accueil</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#next_OnAir">Next OnAir</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#speakers">Speakers</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#sessions">Sessions</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#details">Détails</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#organisateurs">Organisateurs</a>
                        </li>
                    </ul>
                    <div class="my-3 my-lg-0">
                        <a href="https://gdg.community.dev/e/m2a24s/" rel="noopener" aria-label="Cloud Next OnAir Abidjan - GDG Cloud Abidjan" class="btn btn-custom">Participer</a>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <!-- END Navigation -->
</header>
<!-- END Header -->
