<!doctype html>
<html lang="fr-FR">

<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <link rel="manifest" href="/manifest.webmanifest">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta content="text/html" http-equiv="Content-Type" />
    <meta name="msapplication-TileColor" content="#dbdad9">
    <meta name="msapplication-TileImage" content="static/img/favicon/app_images/android/android-launchericon-144-144.png">
    <meta name="theme-color" content="#4285f4">

    <title>{{.Title}}</title>

    <meta name="author" content="GDG Cloud Abidjan" />
    <meta name="title" content="[ Cloud Next OnAir Abidjan ] - GDG Cloud Abidjan">
    <meta name="keywords" content="GDG Cloud Abidjan, GDG, Cloud Next, Cloud Next OnAir Abidjan,Google Cloud developer student clubs, GDG sub saharan africa, communauté google côte d'ivoire" />
    <meta name="description" content="[ Cloud Next OnAir Abidjan ] - Développez vos compétences en participant à des ateliers pratiques, à des discussions de certification et à des questions-réponses en direct avec des Google Developer Expert.">
    <meta property="og:locale" content="fr_FR" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="[ Cloud Next OnAir Abidjan ] - GDG Cloud Abidjan" />
    <meta property="og:description" content="[ Cloud Next OnAir Abidjan ] - Développez vos compétences en participant à des ateliers pratiques, à des discussions de certification et à des questions-réponses en direct avec des Google Developer Expert." />
    <meta property="og:url" content="https://gdgcloudabidjan.dev" />
    <meta property="og:site_name" content="[ Cloud Next OnAir Abidjan ] - GDG Cloud Abidjan" />
    <meta property="og:image" content="https://gdgcloudabidjan.dev/img/favicon/app_images/android/android-launchericon-512-512.png" />
    <meta property="og:image:secure_url" content="https://gdgcloudabidjan.dev/img/favicon/app_images/android/android-launchericon-512-512.png" />
    <meta property="og:image:width" content="512" />
    <meta property="og:image:height" content="512" />
    <!-- Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://gdgcloudabidjan.dev" />
    <meta property="og:title" content="[ Cloud Next OnAir Abidjan ] - GDG Cloud Abidjan" />
    <meta property="og:description" content="[ Cloud Next OnAir Abidjan ] - Développez vos compétences en participant à des ateliers pratiques, à des discussions de certification et à des questions-réponses en direct avec des Google Developer Expert." />
    <meta property="og:image" content="https://gdgcloudabidjan.dev/img/favicon/app_images/android/android-launchericon-512-512.png" />
    <meta property="og:image:type" content="image/png" />
    <meta property="og:image:alt" content="GDG Cloud Icon" />
    <!-- Twitter -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://gdgcloudabidjan.dev" />
    <meta name="twitter:site" content="@GDGCloudAbidjan" />
    <meta name="twitter:creator" content="@GDGCloudAbidjan" />
    <meta name="twitter:title" content="[ Cloud Next OnAir Abidjan ] - GDG Cloud Abidjan" />
    <meta name="twitter:description" content="[ Cloud Next OnAir Abidjan ] - Développez vos compétences en participant à des ateliers pratiques, à des discussions de certification et à des questions-réponses en direct avec des Google Developer Expert." />
    <meta name="twitter:image:src" content="https://gdgcloudabidjan.dev/img/favicon/app_images/android/android-launchericon-512-512.png" />
    <meta name="twitter:image:alt" content="GDG Cloud Icon" />

    <!-- Schema.org meta for Google -->
    <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "EducationalOrganization",
            "name": "DSC ENSIT (Developer Student Club ENSIT)",
            "description": "[ Cloud Next OnAir Abidjan ] - Développez vos compétences en participant à des ateliers pratiques, à des discussions de certification et à des questions-réponses en direct avec des Google Developer Expert.",
            "image": "https://gdgcloudabidjan.dev/img/favicon/app_images/android/android-launchericon-512-512.png",
            "logo": "https://gdgcloudabidjan.dev/img/pwa/favicon/favicon.ico",
            "url": "https://gdgcloudabidjan.dev/",
            "address": {
                "@type": "PostalAddress",
                "addressLocality": "Abidjan",
                "addressCountry": "Côte d'Ivoire"
            }
        }
    </script>

    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="apple-touch-icon" href="/static/img/favicon/app_images/android/android-launchericon-192-192.png">
    <link href="/static/img/favicon/splashscreens/iphone5_splash.png" media="(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image" />
    <link href="/static/img/favicon/splashscreens/iphone6_splash.png" media="(device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image" />
    <link href="/static/img/favicon/splashscreens/iphoneplus_splash.png" media="(device-width: 621px) and (device-height: 1104px) and (-webkit-device-pixel-ratio: 3)" rel="apple-touch-startup-image" />
    <link href="/static/img/favicon/splashscreens/iphonex_splash.png" media="(device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3)" rel="apple-touch-startup-image" />
    <link href="/static/img/favicon/splashscreens/iphonexr_splash.png" media="(device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image" />
    <link href="/static/img/favicon/splashscreens/iphonexsmax_splash.png" media="(device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3)" rel="apple-touch-startup-image" />
    <link href="/static/img/favicon/splashscreens/ipad_splash.png" media="(device-width: 768px) and (device-height: 1024px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image" />
    <link href="/static/img/favicon/splashscreens/ipadpro1_splash.png" media="(device-width: 834px) and (device-height: 1112px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image" />
    <link href="/static/img/favicon/splashscreens/ipadpro3_splash.png" media="(device-width: 834px) and (device-height: 1194px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image" />
    <link href="/static/img/favicon/splashscreens/ipadpro2_splash.png" media="(device-width: 1024px) and (device-height: 1366px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image" />

    <link rel="canonical" href="https://gdgcloudabidjan.dev/" />
    <link rel="shortcut icon" href="/static/img/pwa/favicon/favicon.ico" type="image/x-icon" />
    <link rel="icon" href="/static/img/pwa/favicon/favicon.ico" type="x-icon" />

    <link rel="icon" type="image/png" sizes="512x512" href="/static/img/favicon/app_images/android/android-launchericon-512-512.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/static/img/favicon/app_images/android/android-launchericon-192-192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/img/favicon/app_images/firefox/firefox-general-32-32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/static/img/favicon/app_images/android/android-launchericon-96-96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/img/favicon/app_images/chrome/chrome-favicon-16-16.png">

    {{block "styles" .}}
    <!-- Bootstrap CSS -->
    <link type="text/css" rel="stylesheet" media="screen" href="/static/vendor/bootstrap/css/bootstrap.min.css">

    <!-- Vendor/Plugins CSS -->
    <link rel="preload" href="/static/vendor/animate-css/animate.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript><link rel="stylesheet" href="/static/vendor/animate-css/animate.min.css"></noscript>
    <link rel="preload" href="/static/css/customize.css" as="style">
    <link rel="preload" href="/static/vendor/material-design-iconic-font/css/material-design-iconic.optimal.min.css" as="style">
    <link type="text/css" rel="stylesheet" media="screen" href="/static/css/customize.css">
    <link type="text/css" rel="stylesheet" media="screen" href="/static/vendor/material-design-iconic-font/css/material-design-iconic.optimal.min.css">

    <!-- Bootbox Template CSS -->
    <link type="text/css" rel="stylesheet" media="screen" href="/static/css/main.min.css">

    <!-- AOS animate on scroll -->
    <link type="text/css" rel="stylesheet" media="screen" href="https://unpkg.com/aos@2.3.1/dist/aos.css">
    {{end}}
</head>

<body id="page-top" data-spy="scroll" data-target=".navbar" data-offset="50">

	{{template "_header.html" .}}
	{{template "content" .}}
	{{template "_footer.html" .}}

    {{block "scripts" .}}

    <script>
        if ('serviceWorker' in navigator) {
            window.addEventListener('load', () => {
                navigator.serviceWorker.register('/firebase-messaging-sw.js')
                    .then(registration => {
                        console.log(`Service Worker registered! Scope: ${registration.scope}`);
                    })
                    .catch(err => {
                        console.log(`Service Worker registration failed: ${err}`);
                    });
            });
        }
    </script>

    <!-- Global Required JS -->
    <script src="/static/vendor/jquery/jquery.min.js"></script>
    <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Vendor/Plugins JS -->
    <script src="/static/vendor/slick/slick.min.js"></script>
    <script src="/static/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="/static/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>
    <script src="/static/vendor/wowjs/wow.min.js"></script>

    <!-- Bootbox Template JS -->
    <script src="/static/js/main.min.js"></script>

    <!-- AOS animate on scroll -->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
    {{end}}
</body>
</html>